<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" th:content="${_csrf.token}">
    <meta name="csrf-header" th:content="${_csrf.headerName}">
    <title>User page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-dark bg-dark text-white">
    <div class="container-fluid">
        <div class="navbar-header" id="user-panel">


        </div>
        <div class="nav navbar-nav navbar-right">
            <li>
                <form th:action="@{/auth/logout}" th:method="POST">
                    <input type="submit" class="btn btn-primary btn-lg btn-block" th:value="Logout"/>
                </form>
            </li>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">

        <div class="col-2" style="padding: 0;padding-top: 15px;">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" href="/admin/">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active">User</a>
                </li>
            </ul>
        </div>


        <div class="col-10 bg-light">
            <div class="tab-content" style="padding-top: 15px; height: 100vh">

                <div class="tab-pane fade show active">
                    <h2>User information-page</h2>
                    <div class="card">
                        <h5 div class="card-header">
                            About user
                        </h5>
                        <div class="card-body text-center">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody id="user-data">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/user.js"></script>
</body>
</html>